.container {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height: 100vh;            /* full viewport height */
}

.box {
  align-self: center;
}
.timer {
  width: 100%;
}

.label {
  align-self: center;
  font-size: 26px;
  text-align: center;
  width: 100%;
}

.value {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}


.progress {
  height: 10px;
  border-radius: 4px;
  background-color: #e2e8f0;
  margin-bottom: 4px;
}

.reid {
  background-color: plum;
    width:400px;
    height:400px;
    border-radius:25%;
    overflow:hidden;
}

.bar {
  border-radius: 4px;
  height: 100%;
  background-color: #3b82f6;
  transition:
    background-color 0.3s ease,
    width 1s linear;
}

.warn {
  span {
    color: orange;
  }

  .bar {
    background: orange;
  }
}

.danger {
  span {
    color: red;
  }

  .bar {
    background: red;
  }
}
